<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" >
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
    <br><br>
    <!-- <h1 >Your Hotel has been booked successfully ,}}</h1> -->
    <h1>{{noOfRooms}} room(s) has been successfully booked in {{hotelName}} Hotel</h1>
   
    
    <div class = "blocopreto">
    </div>
    
        
            <div class = "bloco1">
            </div>

            <div class = "bloco2">
            </div>

            <div class = "bloco3">
            </div>

            <div class = "bloco4">
            </div>

            <div class = "bloco5">
            </div>

            <div class = "bloco6">
            </div>

            <div class = "bloco7">
            </div>

            <div class = "bloco8">
            </div>
    
    <div class="tronco">
    </div>
    
    <div class="folha2">
    </div>
    <div class="folha3">
    </div>
    <div class="folha4">
    </div>
    
    <div class="quadrado">
        <div class="cabeca">
        <div class="rosto1">
            <div class="olho1"></div>
        </div>
        <div class="rosto2">
            <div class="olho1"></div>
        </div>
        <div class="rosto3">
        </div>
        
        
        </div>
    </div>
    
    <div class="folha1">
    </div>
    
    
    
    
        <div class="grama1">
        </div>
    <div class="grama2">
        </div>
    <div class="grama3">
        </div>
    <div class="grama4">
        </div>
    <div class="grama5">
        </div>
        
    
     <div class="grama6">
        </div>
    <div class="grama7">
        </div>
    <div class="grama8">
        </div>
    <div class="grama9">
        </div>
    <div class="grama10">
        </div>
        

                <div class= "elevador1">
                    <i class="em em-grin"></i>
                    <span class="elevador1text">Férias! Uhuu!</span>
                </div>

                <div class= "elevador2">
                    <i class="em em-drooling_face"></i>
                    <span class="elevador2text">Fome de cuscuz!</span>
                </div>

                <div class= "elevador3">
                    <i class="em em-nauseated_face"></i>
                   <span class="elevador3text">Estou enjoado!
                    </span>
                </div>
    
                    <div class= "teto1">
                    </div>
                    <h1 >Thank you for choosing HOoBO </h1>
                    <div class= "teto2">
                    </div>
                        
    <div class= "antena1">
        <div class = pontaantena1></div>
        
    </div>
  
  
    
  
</body>
</html>

