body{
    background-color: #e6ffcc;
   
}

.teto1{
    
    height: 80px;
    width: 540px;
    left: 430px;
    top: -530px;
    background-color: #003366; 
    position: relative;
    border-radius: 8px;
}

.teto2{
    
    height: 50px;
    width: 300px;
    left: 552px;
    top: -640px;
    background-color: #003366; 
    position: relative;
    border-radius: 8px;
}

.antena1{
    
    height: 80px;
    width: 8px;
    position: relative;
    left: 695px;
    top: -770px;
    background-color: #003366;
    
}

.antena1 .pontaantena1{
    background-color: red;
    position: relative;
    width: 8px;
    height: 8px;
    animation-name: pontaantena1;
  animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* ponta da antena*/
@keyframes pontaantena1 {
  from {background-color: red; box-shadow: 0 2px 2px 3px rgba(255, 0, 0, 0.5);}
  to {background-color: yellow;}
}


.blocopreto{
    height: 500px;
    width: 500px;
    top: 200px;
    left: 450px;
    position: relative;
    background-color: #000000;
    
    
}


.bloco1{
    height: 20px;
    width: 500px;
    top: 700px;
    left: 458px;
    position: absolute;
    background-color:  #408000;
}

.bloco2{
    height: 20px;
    width: 500px;
    top: 207px;
    left: 458px;
    position: absolute;
    background-color:  #408000;
}

.bloco3{
    height: 500px;
    width: 20px;
    top: 207px;
    left: 458px;
    position: absolute;
    background-color:  #408000;
}

.bloco4{
    height: 500px;
    width: 20px;
    top: 207px;
    left: 938px;
    position: absolute;
    background-color:  #408000; 
    
}

.bloco5{
    height: 500px;
    width: 20px;
    top: 207px;
    left: 550px;
    position: absolute;
    background-color:  #408000; 
    
}


.bloco6{
    height: 500px;
    width: 20px;
    top: 207px;
    left: 650px;
    position: absolute;
    background-color:  #408000; 
    
}

.bloco7{
    height: 500px;
    width: 20px;
    top: 207px;
    left: 750px;
    position: absolute;
    background-color:  #408000; 
    
}

.bloco8{
    height: 500px;
    width: 20px;
    top: 207px;
    left: 850px;
    position: absolute;
    background-color:  #408000; 
    
}

/*grama - esquerda*/
.grama1{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 440px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama2{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 410px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama3{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 380px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama4{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 350px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama5{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 320px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

/*arvore*/
.tronco{
    height: 100px;
    width: 40px;
    background-color:brown;
    position: absolute;
    left: 330px;
    top: 600px;
                
}

.folha1{
    
    height: 80px;
    width: 80px;
    background-color: green;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    left: 310px;
    top: 530px;
    border: 2px solid #00b300;
    
    
}

.folha2{
    
    height: 80px;
    width: 80px;
    background-color: green;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    left: 260px;
    top: 510px;
    border: 2px solid #00b300;
}

.folha3{
    
    height: 80px;
    width: 80px;
    background-color: green;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    left: 350px;
    top: 510px;
    border: 2px solid #00b300;
}

.folha4{
    
    height: 80px;
    width: 80px;
    background-color: green;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    left: 310px;
    top: 470px;
    border: 2px solid #00b300;
}


/*macaco na ervore*/
.cabeca{
    height: 30px;
    width: 30px;
    position: absolute;
   /* left: 310px;*/
   /* top: 910px;*/
    background-color:brown;
    border-radius: 30px 30px 30px 30px;
    animation-name: cabeca;
  animation-duration: 3s;
  animation-iteration-count: infinite;
    
}

/*animacao cabeca*/
@keyframes cabeca {
  0%   { left:0px; top:0px;}
  
  50%  { left:10px; top:10px;}
  
  100% { left:0px; top:0px;}
}

.quadrado{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 330px;
}

.cabeca .rosto1{
   height: 12px;
    width: 12px; 
    left: 4px;
    top: 5px;
    position: absolute;
    background-color: burlywood;
    border-radius: 30px 30px 30px 30px;
}

.cabeca .rosto2{
   height: 12px;
    width: 12px; 
    left: 12px;
    top: 5px;
    position: absolute;
    background-color: burlywood;
    border-radius: 30px 30px 30px 30px;
}

.cabeca .rosto3{
   height: 14px;
    width: 14px; 
    bottom: 3px;
    left: 7px;
    position: absolute;
    background-color: burlywood;
    border-radius: 30px 30px 30px 30px;
}


/*olhos*/
.olho1{
    height: 5px;
    width: 5px;
    background-color: black;
   left: 6px;
   position: relative;
    border-radius: 30px 30px 30px 30px;
    animation-name: olho1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
    
    
}
/*animacao olhos*/
@keyframes olho1 {
  0%   {background-color:black; left:0px; right:0px;}
  
  50%  {background-color:black; left:6px; right:6px;}
  
  100% {background-color:black; left:0px; right:0px;}
}



/*grama - direita*/
.grama6{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 945px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama7{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 975px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama8{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 1005px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama9{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 1035px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}

.grama10{
    background-color:#00FF00;
    height: 30px;
    width: 30px;
    left: 1065px;
    top: 690px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    
}


/*elevador da esquerda*/
.elevador1{
    
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px 3px rgba(255, 255, 0, 0.5);
    position: relative;
    left: 480px;
    animation-name: elevador;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/*emoji*/
.elevador1 i{
    margin-left: 10px;
   margin-top: 10px;
    
   
    
}


    /*elevador da esquerda sone e desce*/
    @keyframes elevador{
    0%   {background-color:#ffffff; top:140px; bottom:0px; }
  
    50%  {background-color:#ffffff; top:-280px; bottom:100px;}
    
    75%  {background-color: #ffffff; top:0px; bottom:100px;}
  
    100% {background-color:#ffffff; top:140px; bottom:0px;}
    }

/*elevador da esquerda - balao passando mouse*/
.elevador1 .elevador1text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.elevador1 .elevador1text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.elevador1:hover .elevador1text{
    visibility: visible;
    opacity: 1;
}
    
/*elevador da direita*/
    .elevador2{
    
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px 3px rgba(255, 255, 0, 0.5);
    position: relative;
    left: 870px;
    
    animation-name: elevador2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/*emoji*/
.elevador2 i{
    margin-left: 10px;
   margin-top: 10px;
   
   
    
}

    /*elevador da direita - sobe e desce*/
    @keyframes elevador2{
    0%   {background-color:#ffffff; top:0px; bottom:0px; }
  
    50%  {background-color:#ffffff; top:-280px; bottom:300px;}
  
    100% {background-color:#ffffff; top:0px; bottom:300px;}
    }

/*elevador da direita - balao passando mouse*/

.elevador2 .elevador2text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.elevador2 .elevador2text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.elevador2:hover .elevador2text{
    visibility: visible;
    opacity: 1;
}






/*elevador da centro*/
   .elevador3{
    
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px 3px rgba(255, 255, 0, 0.5);
    position: relative;
    left: 675px;
    
    animation-name: elevador3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* emoji */
.elevador3 i{
    margin-left: 10px;
   margin-top: 10px;
   
   
    
}
    
/*elevador da centro - sobe e desce*/
    @keyframes elevador3{
    0%   {background-color:#ffffff; top:0px; bottom:0px; }
  
    50%  {background-color:#ffffff; top:-380px; bottom:380px;}
  
    100% {background-color:#ffffff; top:0px; bottom:380px;}
    }

/*elevador da centro - balao passando mouse*/
.elevador3 .elevador3text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.elevador3 .elevador3text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.elevador3:hover .elevador3text{
    visibility: visible;
    opacity: 1;
}
h1{
    margin-left: 20%;
    font-family: cursive;
}


