<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Footer - Sagar Developer</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    
</head>

<body>
    
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>HOoBO</h3>

            <p class="footer-links">
                <a href="">Home</a>
                |
                <a href="aboutus">About</a>
                |
                <a href="contactus">Contact</a>
                
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>HOoBO</strong> All rights reserved</p>
        </div>

        <div class="footer-center" style="margin-left: 5%;">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Gachibowli</span>
                    Hyderabad</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 983*56**94</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p style="color:black"><a href="mailto:HOOBO.co@gmail.com">hoobo@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <strong>HOoBO</strong> is a booking app where you can book rooms
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>