.col1{
   
    width:40%;
    height:90%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    background-color: rgb(28,28,28);
    
}
.col1::-webkit-scrollbar{
    display:none;
}

section{
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.btn{
    background-color: black;
    border: none;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    
}
a{
    cursor: pointer;
}

